body {
  background-color: cornflowerblue;
}

.container-all {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.container-calculator {
  background-color: coral;
  display: grid;
  grid-template-rows: 18% 82%;
  height: 550px;
  width: 400px;
  border: 3px solid white;
  box-shadow: 5px 5px 5px;
  border-radius: 10px;
  margin-top: 30px;
}

.container-input {
  background-color: chocolate;
  justify-content: right;
  display: flex;
  border-radius: 10px;
  color: aliceblue;
  font-size: 70px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-right: 10px;
  padding-top: 10px;
  overflow: hidden;
}

.container-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: lightgray;
  border-radius: 20px;
}

.two-fr {
  grid-column: span 2;
}

button {
  margin: 1px;
  font-size: 30px;
}

.operator {
  background-color: bisque;
  color: crimson;
}

.number {
  background-color: burlywood;
}

#operate {
  background-color: chocolate;
  color: bisque;
}

#allClear {
  background-color: crimson;
  color: burlywood;
}

.del {
  background-color: darkred;
  color: darkkhaki;
}
.dot {
  background-color: darkkhaki;
}
